{erl_opts, [debug_info]}.

{profiles, [
  {codetrace, [
    {plugins, [rebar3_codetracer]},
    {erl_opts, [debug_info]},
    {codetracer, [
      {out_dir, "ct-traces"},
      {format, "ctfs"},
      {root_mfa, "rebar3_app:main/0"},
      {eval, "io:format(\"~p~n\", [rebar3_app:main()])."},
      {profile, "codetrace"},
      {include_app, "rebar3_app"},
      {include_module, "rebar3_app"},
      {include_module, "rebar3_helper"},
      {include_module, "rebar3_generated"},
      {exclude_module, "rebar3_ignored"},
      {source_dir, "lib"},
      {source_map, "source_maps/generated_bridge.json"},
      {capture_messages, "true"}
    ]}
  ]},
  {codetrace_parse_transform, [
    {plugins, [rebar3_codetracer]},
    {erl_opts, [debug_info, {parse_transform, codetracer_parse_transform}]},
    {codetracer, [
      {out_dir, "ct-traces-parse-transform"},
      {format, "ctfs"},
      {root_mfa, "rebar3_app:main/0"},
      {eval, "io:format(\"~p~n\", [rebar3_app:main()])."},
      {profile, "codetrace_parse_transform"},
      {include_app, "rebar3_app"},
      {include_module, "rebar3_app"},
      {include_module, "rebar3_helper"},
      {parse_transform, true}
    ]}
  ]}
]}.
