/target/
/result
/result-*
/.direnv/
/.pre-commit-config.yaml
rebar3_codetracer/_build/
test-programs/erlang/**/_build/
test-programs/erlang/**/_checkouts/
test-programs/erlang/**/ct-traces/
test-programs/erlang/**/ct-traces-*/
