{erl_opts, [debug_info]}.

{profiles, [
  {codetrace, [
    {plugins, [rebar3_codetracer]},
    {erl_opts, [debug_info]},
    {codetracer, [
      {out_dir, "ct-traces"},
      {format, "ctfs"},
      {root_mfa, "rebar3_shell:main/0"},
      {eval, "io:format(\"~p~n\", [rebar3_shell:main()])."},
      {profile, "codetrace"},
      {include_module, "rebar3_shell"},
      {capture_messages, "true"}
    ]}
  ]}
]}.
